@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
    --text-color: #333333;
    --border-color: #dddddd;
    --text-title-color: #111111;
    --background-color: #f9f9f9;
    scroll-behavior: smooth;
    font-family: "Dosis", sans-serif;
}

img {
  max-width: 100%;
  display: block;
  }
