.header {
  font-size: 2rem;
  background-color: var(--background-color);

  .header__title {
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    font-size: 2rem;
    margin: 2rem;
    width: 600px;
    color: var(--text-title-color);
    a {
      color: var(--text-title-color);
    }
  }

}


